.desktopMenu {
  width: 10rem;
  position: fixed;
}
.fPhoto {
  width: 15rem;
}
.navbar-header {
  height: 6rem;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.list-group-item:hover {
  font-weight: 700;
}
.browse-col:hover {
  font-weight: 700;
}
.btn-col:hover {
  font-weight: 600;
}
