.home-header h1 {
  text-align: center;
  justify-content: center;
  align-items: center;
}
.home-header h3 {
  text-align: center;
  justify-content: center;
  align-items: center;
}
.home-header {
  text-align: center;
  justify-content: center;
  align-items: center;
}
.sign-header {
  text-align: center;
  justify-content: center;
  align-items: center;
  border: none;
}
